PRIMARY_AI_API_KEY=
SECONDARY_AI_API_KEY=
APP_API_BASE_URL=http://10.0.2.2:4000/api/
PUBLIC_INFO_URL=
SUPPORT_URL=
PRIMARY_AI_STREAM_URL_TEMPLATE=
PRIMARY_AI_IMAGE_URL=
SECONDARY_AI_CHAT_URL=
SECONDARY_AI_IMAGE_URL=
PRIMARY_AI_TEXT_MODEL=
PRIMARY_AI_IMAGE_MODEL=
SECONDARY_AI_TEXT_MODEL=
SECONDARY_AI_VISION_MODEL=
SECONDARY_AI_IMAGE_MODEL=
SECONDARY_AI_SEARCH_MODEL=
SECONDARY_AI_TITLE_MODEL=
SECONDARY_AI_SUMMARY_MODEL=
SECONDARY_AI_AUDIT_MODEL=
